body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

#app-body{
  background-image: url("https://wallpapertag.com/wallpaper/full/4/e/9/221426-cool-hd-real-space-wallpapers-1080p-1920x1080.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root-image {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#signup-box-row {
  margin-top: 7%;
}
#signup-box {
  border: 1px solid #E6E6E6;
  text-align: center;
  border-radius: 1px 1px 1px 1px;
  background-color: white;
}

#signup-box-header {
  font-family: 'Playball',  cursive;
  font-size:300%;
  margin-top: 7%;
  margin-bottom:3%;
  font-weight: bold;
}

#signup-box-message {
  color: #9F9999;
  font-weight: bold;
  font-size: 130%;
}

#signup-form-container {
  border-top: 1px solid #E6E6E6;
  padding-top:5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7%;
}

#signup-login-button {
  background-color: #3A98E9;
  color: white;
}
#signup-login-button:hover {
  background-color: #225b8b;
}

#user-login-box {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top:3%;
  border: 1px solid #E6E6E6;
  text-align: center;
  border-radius: 1px 1px 1px 1px;
  background-color: white;
}

#login-modal {
  text-align: center;
}

#nav {
  background-color: #0C2A83;
  height:10%;
}

#home-grid {
  height:100vh;
}
#home-row {
  min-height: 90%;
}
#friend-navigator {
  height:100%;
  border: 2px solid #E6E6E6;
  border-radius: 7px 7px 7px 7px;
  background-color: white;
}

#friend-navigator-header{
  width:100%;
  height:10%;
  border-radius: 0px 0px 0px 0px;
  border-top:0px;
  border-bottom:0px;
  border-left:0px;
  border-right:0px;
  margin-bottom:0px;
}

.friend-navigator-header-button {
  border-radius: 0px 0px 0px 0px !important;
}
.friend-navigator-header-button.active {

}

.friend-navigator-header-button-text{

}

#contacts-navigator {
  height: 100%;
  width: 100%;
}

#contacts-header {
  width:100%;
  height:5%;
  border-radius: 0px 0px 0px 0px;
  border-top:0px;
  border-bottom:0px;
  border-left:0px;
  border-right:0px;
  margin-top:2px;
  margin-bottom:0px;
}

#contacts-friend-list {
  margin-top:0%;
  width: 100%;
  height: 80%;
}

.contacts-list-item {
  text-align: center;
  padding-top:5% !important;
  padding-bottom:5% !important;
  /* border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6; */
}

.contacts-list-item:hover {
  cursor: pointer;
  background-color: #E6E6E6;
}

.contacts-list-item.active {
  background-color: #E6E6E6;
}

.add-friend-icon {
  margin-left:5% !important;
  color: green;
}

.delete-friend-icon {
  color: red;
  margin-right:5% !important;
}

.add-friend-icon:hover {
  padding-left:5% !important;
  transition: all 1s ease-in-out;
  transform: scale(1.7);
}

.delete-friend-icon:hover {
  transform: scale(1.7);
  padding-right: 5% !important;
  transition: all 1s ease-in-out;
}

.friend-request-form-item {
  padding-top: 2% !important;
  border-bottom: 1px solid #E6E6E6;
}

#find-friend-fields {
  text-align:center;
}
.find-friend-form {
  text-align:center;
}

.contacts-list-item {
  padding-left:5% !important;
  padding-right:5% !important;
}

.contacts-list-item-content{


}

.contacts-list-item-icon {

}
